 .u-section-1 {
  background-image: url("images/1619340937_6-phonoteka_org-p-fon-myataya-bumaga-dlya-fotoshopa-6.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1126px;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 0;
}

.u-section-1 .u-image-1 {
  min-height: 664px;
  background-image: url("images/photo_one_0.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 18px 30px 30px;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 664px;
  background-image: none;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0 30px 30px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 20px 45px 0 0;
}

.u-section-1 .u-text-2 {
  margin-bottom: 0;
  margin-top: 20px;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 350px;
}

.u-section-1 .u-container-layout-3 {
  padding: 0;
}

.u-section-1 .u-text-3 {
  font-size: 2.25rem;
  margin: 20px auto 0 12px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 32px auto 0 82px;
  padding: 19px 56px 20px 55px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -97px 49px 0 auto;
  padding: 19px 39px 20px 38px;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 350px;
}

.u-section-1 .u-container-layout-4 {
  padding: 0 28px;
}

.u-section-1 .u-text-4 {
  font-size: 2.25rem;
  text-align: left;
  margin: 20px auto 0 12px;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: 32px auto 0 74px;
  padding: 19px 51px 19px 49px;
}

.u-section-1 .u-btn-4 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 2.25rem;
  letter-spacing: 1px;
  background-image: none;
  margin: -97px 0 0 auto;
  padding: 19px 41px 20px 40px;
}

.u-section-1 .u-group-1 {
  min-height: 43px;
  margin-bottom: 36px;
  margin-top: 15px;
  background-image: none;
  height: auto;
}

.u-section-1 .u-container-layout-5 {
  padding-left: 30px;
  padding-right: 30px;
}

.u-section-1 .u-text-5 {
  margin-bottom: 0;
  margin-top: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 736px;
  }

  .u-section-1 .u-image-1 {
    min-height: 548px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 548px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 96px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 290px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 19px;
    padding-bottom: 21px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -96px;
    margin-right: 7px;
    padding-bottom: 19px;
    padding-right: 38px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 290px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 7px;
    padding-right: 7px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 12px;
  }

  .u-section-1 .u-group-1 {
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1047px;
  }

  .u-section-1 .u-image-1 {
    min-height: 634px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 634px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 23px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 296px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 12px;
    padding-right: 30px;
    padding-left: 29px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -97px;
    margin-right: 22px;
    padding-right: 13px;
    padding-bottom: 20px;
    padding-left: 12px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 296px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 31px;
    padding: 18px 24px 20px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -96px;
    margin-right: 22px;
    padding-right: 14px;
    padding-left: 14px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 5px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1743px;
  }

  .u-section-1 .u-image-1 {
    min-height: 350px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 586px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
  }

  .u-section-1 .u-text-1 {
    width: auto;
    margin-top: 0;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 250px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 16px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 9px;
    margin-left: 54px;
    padding-right: 51px;
    padding-left: 51px;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 78px;
    padding-right: 34px;
    padding-left: 33px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 250px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 7px;
    margin-left: 54px;
    padding-right: 46px;
    padding-left: 45px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -97px;
    margin-right: 78px;
    padding-right: 36px;
    padding-left: 35px;
  }

  .u-section-1 .u-group-1 {
    margin-top: 19px;
    margin-bottom: 60px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1113px;
  }

  .u-section-1 .u-image-1 {
    min-height: 284px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
    font-size: 1.5rem;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 256px;
  }

  .u-section-1 .u-text-3 {
    margin-top: 19px;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
    padding-right: 30px;
    padding-bottom: 19px;
    padding-left: 29px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -107px;
    margin-right: 24px;
    padding-right: 13px;
    padding-bottom: 21px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 251px;
  }

  .u-section-1 .u-btn-3 {
    margin-top: 17px;
    margin-left: 0;
    padding-right: 24px;
    padding-left: 24px;
  }

  .u-section-1 .u-btn-4 {
    margin-top: -96px;
    margin-right: 23px;
    padding-right: 14px;
    padding-left: 14px;
  }
}